button {
  width: 160px;
  height: 45px;
  font-size: 20px;
}

button:hover {
  background-color: #0a0a0a;
  color: white;
  cursor: pointer;
}

th {
  background-color: #0a0a0a;
  color: white;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}
