* {
  box-sizing: border-box;
}

button {
  display: block;
  padding: 100px;
  border-radius: 50%;
  border: 1px solid transparent;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 20% auto;
}

.off-button {
  background-color: #25292d;
}

.on-button {
  box-shadow: 0 0 10px 1px #fef085;
  background-color: #fef085;
}

.off {
  background-color: black;
}

.on {
  background-color: #fef9f1;
}
