* {
  box-sizing: border-box;
}

body {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}

footer {
  background-color: #f5f5f5;
  padding: 2rem 4rem;
}

a {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  padding: 0 1rem;
  text-decoration: none;
}

h2 {
  font-family: "Tiempos Headline", sans-serif;
  font-style: normal;
  font-weight: 300;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  width: 100%;
}

section {
  color: white;
}

.container {
  max-width: 800px;
  margin: auto;
}

.col-full {
  flex-basis: 100%;
}

.col-half {
  flex-basis: 50%;
}

.col-thirds {
  flex-basis: calc(100% / 3);
}

.col-two-thirds {
  flex-basis: calc(200% / 3);
}

.col-one-sixth {
  flex-basis: calc(100% / 6);
}

.white-logo {
  padding: 1rem;
  width: 70%;
}

.blue-logo {
  padding: 2rem;
  width: 70%;
  margin-top: 15px;
  margin-left: 30px;
}

.gray-box {
  background-color: #525351;
  padding: 50px 2rem;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.m-top {
  margin-top: 10px;
}

.m-bottom {
  margin-bottom: 50px;
}

.m-left {
  margin-left: 20px;
}

.address {
  font-size: small;
  line-height: 20px;
  margin-top: auto;
  padding: 0 1rem;
}

.company {
  padding-left: 50%;
}

.clinicians {
  background-color: #fafafa;
  padding-top: 20px;
  padding-bottom: 60px;
}

.ready-button {
  display: flex;
  justify-content: end;
}

.light-g {
  color: #6e6e6e;
}

.centering {
  text-align: center;
}

.start-button {
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #2a4463;
  color: white;
  margin: 30px 50px 40px 0;
  padding: 10px 30px;
}

.contact-button {
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #2a4463;
  color: white;
  margin: 30px 40px 0 0;
  padding: 10px;
}

.grid {
  display: grid;
}

.font-s {
  font-size: small;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-3 {
  padding-left: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pl-60 {
  padding-left: 60px;
}

.lr-14 {
  padding: 0 14rem;
  line-height: 1.5rem;
}

.lr-15 {
  padding-left: 14rem;
  padding-right: 20rem;
}

.lh-1 {
  line-height: 1rem;
}

.image-c {
  padding: 3rem 4rem;
}

.absolute {
  position: absolute;
  top: 14rem;
  right: 18rem;
  left: 10rem;
  bottom: 10rem;
}

.relative {
  position: relative;
}

.hero-img {
  color: white;
  border: 1px solid transparent;
}

.overlay {
  background: linear-gradient(transparent, rgb(0 0 0 / 50%));
  position: absolute;
  top: 30px;
  bottom: 50px;
  right: 65px;
  left: 65px;
}
