* {
  box-sizing: border-box;
}

body {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  margin: 0;
}

footer {
  background-color: #f5f5f5;
  padding: 2rem 4rem;
}

a {
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
  padding: 0 1rem;
  text-decoration: none;
}

h2 {
  font-family: "Tiempos Headline", sans-serif;
  font-style: normal;
  font-weight: 300;
}

img {
  width: 100%;
}

section {
  color: white;
}

.container {
  max-width: 900px;
  margin: auto;
}

.col-full {
  flex-basis: 100%;
}

.col-half {
  flex-basis: 50%;
}

.col-thirds {
  flex-basis: calc(100% / 3);
}

.white-logo {
  padding: 1rem;
  width: 70%;
}

.gray-box {
  background-color: #525351;
  padding: 50px 3rem;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.m-top {
  margin-top: 10px;
}

.m-bottom {
  margin-bottom: 50px;
}

.address {
  font-size: small;
  line-height: 20px;
  margin-top: auto;
  padding: 0 1rem;
}

.company {
  padding-left: 50%;
}

.clinicians {
  background-color: #fafafa;
  padding-top: 20px;
  padding-bottom: 60px;
}

.ready-button {
  display: flex;
  justify-content: end;
}

.light-g {
  color: #6e6e6e;
}

.centering {
  text-align: center;
}

.start-button {
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #2a4463;
  color: white;
  margin: 30px 50px 40px 0;
  padding: 10px 30px;
}

.grid {
  display: grid;
}

.font-s {
  font-size: small;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-3 {
  padding-left: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pl-60 {
  padding-left: 60px;
}

.squeeze {
  padding: 0 16rem;
  line-height: 1.5rem;
}
